---
layout: default
---

  <link href="scss/site.css" rel="stylesheet">

    <div class="row">
      <div class="column">
        <img src="img/babyPig.jpg">
      </div>
      <div class="column">
        <img src="img/babyPigx2.jpg">
      </div>
      <div class="column">
        <img src="img/babyPigx3.jpg">
      </div>
      <div class="column">
        <img src="img/babyEl.jpg">
      </div>
      <div class="column">
        <img src="img/babyElx2.jpg">
      </div>
      <div class="column">
        <img src="img/babyElx3.jpg">
      </div>
      <div class="column">
        <img src="img/babyElx4.jpg">
      </div>
      <div class="column">
        <img src="img/kitten.jpg">
      </div>
      <div class="column">
        <img src="img/kittenx2.jpg">
      </div>
      <div class="column">
        <img src="img/kittenx3.jpg">
      </div>
      <div class="column">
        <img src="img/babyFox.jpg">
      </div>
      <div class="column">
        <img src="img/babyFoxx2.jpg">
      </div>
      <div class="column">
        <img src="img/babyFoxx3.jpg">
      </div>
    </div>

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section>

  <h3>Posts</h3>

  <ul>
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.date }}">
          <small>
            <strong>{{ post.date | date_to_string }}</strong>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
        {{ post.excerpt | strip_newlines | truncate: 180 }}
      </li>
    {% endfor %}
  </ul>

</section>
